# 6.2. Static testing & Verification

Pendiente.

## 6.2.1. Static Code Analysis

### 6.2.1.1. Coding standard & Code conventions

Pendiente.

### 6.2.1.2. Code Quality & Code Security

Pendiente.

## 6.2.2. Reviews

Pendiente.
